# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Java\projects\DevKit\JWebMP\JWebMPParent\JWebMPBuilder\JWebMPPlugins\JQueryPlugins\WayPoints\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
